
<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
<title>{{siteName}} - Terms and Conditions</title>
<link rel="profile" href="http://gmpg.org/xfn/11" />
<meta name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1' />
<meta name="author" content="Prasad Bobby">
<meta name="keywords" content="prasadbobby, prasad bobby,  needap, need ap, andhra pradesh, ap, andhra, andhra covid cases, ap beds availability, hospital beds list, donors list ap, donate blood, donate plasma, plasma therapy, find donors, covid positive, covid negative, coronavirus therapy, plasma, delhi, mumbai, chandigarh, donors, register patient, register donor, help society, do good, blessings" />
<meta name="description" content="This site connects current COVID patients with recovered COVID patients who wish to donate plasma/blood.For the last few weeks, we have witnessed a flood of heart-wrenching posts on social media platforms from people looking for life-saving blood/plasma for their loved ones. This site is developed by Prasadbobby, 6300807459" />
<meta property="og:url" content="https://needap.in/" />
<meta property="og:type" content="Website" />
<meta property="og:site_name" content="needap.in" />
<meta property="og:title" content="Need AP - To check availability of hospital beds and plasma in AP" />
<meta property="og:description" content="This site connects current COVID patients with recovered COVID patients who wish to donate plasma/blood. For the last few weeks, we have witnessed a flood of heart-wrenching posts on social media platforms from people looking for life-saving blood/plasma for their loved ones. This site is developed by Prasadbobby, 6300807459" />
<meta property="og:image" content="/images/logos/logo.png" />
<meta property="og:image:url" content="/images/logos/logo.png" />
<meta property="og:updated_time" content="{{siteDate}}" />
<meta name="twitter:creator" content="@prasadbobby_">
<meta name="twitter:title" content="Need AP - To check availability of hospital beds and plasma in AP" />
<meta name="twitter:description" content="This site connects current COVID patients with recovered COVID patients who wish to donate plasma/blood. For the last few weeks, we have witnessed a flood of heart-wrenching posts on social media platforms from people looking for life-saving blood/plasma for their loved ones. This site is developed by Prasadbobby, 6300807459" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@need_ap">
<meta name="twitter:url" content="https://needap.in/" />
<meta name="twitter:image" content="images/logos/full-logo.png" />
<link rel="shortcut icon" sizes="196x196" href="/images/logos/logo.png"/>
<meta itemprop="name" content="{{siteName}}"/>
<meta itemprop="description" content="This site connects current COVID patients with recovered COVID patients who wish to donate plasma/blood.For the last few weeks, we have witnessed a flood of heart-wrenching posts on social media platforms from people looking for life-saving blood/plasma for their loved ones. This site is developed by Prasadbobby, 6300807459"/>
<meta itemprop="image" content="/images/logos/logo.png"/>
<meta name="theme-color" content="#ffffff">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TZ5WL8523Z"></script>
<script>
   window.dataLayer = window.dataLayer || [];
   function gtag(){dataLayer.push(arguments);}
   gtag('js', new Date());
   
   gtag('config', 'G-TZ5WL8523Z');
</script>
<link rel="stylesheet" type="text/css" href="styles/bootstrap.css">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="fonts/css/fontawesome-all.min.css">
<link rel="manifest" href="_manifest.json" data-pwa-version="1.0">
<link rel="apple-touch-icon" sizes="180x180" href="app/icons/icon-192x192.png">
<style>
ol {
    counter-reset: item;
}
ol li {
    display: block;
    position: relative;
}
ol li:before {
    content: counters(item, ".")".";
    counter-increment: item;
    position: absolute;
    margin-right: 100%;
    right: 3px; 
}

  
 
</style>
</head>
<body class="theme-light">
<div id="preloader"><div class="spinner-border color-highlight" role="status"></div></div>
<div id="page">
<div class="header header-auto-show header-fixed header-logo-center">
<a href="/home" class="header-title">{{siteName}}</a>
<a href="#" data-menu="menu-main" class="header-icon header-icon-1"><i class="fas fa-bars"></i></a>
<a href="#" data-toggle-theme class="header-icon header-icon-4 show-on-theme-dark"><i class="fas fa-sun"></i></a>
<a href="#" data-toggle-theme class="header-icon header-icon-4 show-on-theme-light"><i class="fas fa-moon"></i></a>
<a href="#" data-menu="menu-share" class="header-icon header-icon-3"><i class="fas fa-share-alt"></i></a>
</div>
<div id="footer-bar" class="footer-bar-4 shadow-xl rounded-s">
<a href="/home" ><i class="fa fa-home">
    {{!-- <svg class="homeIcon" xmlns="http://www.w3.org/2000/svg" width="20px"  viewBox="0 0 24 24" id="Bold"><path d="M12.345,5.215a.5.5,0,0,0-.69,0L2.629,13.829a1,1,0,0,0-.29.919L3.7,21.589A3.011,3.011,0,0,0,6.64,24H17.36A3.013,3.013,0,0,0,20.3,21.586l1.36-6.838a1,1,0,0,0-.29-.919ZM12,12.77A3.232,3.232,0,1,1,8.768,16,3.231,3.231,0,0,1,12,12.77Z"/><path d="M2.52,11.6l9.135-8.462a.505.505,0,0,1,.706.016L21.48,11.6a1.486,1.486,0,0,0,1.962.057,1.587,1.587,0,0,0,.159-.138A1.5,1.5,0,0,0,23.52,9.4l-9.1-8.43A3.49,3.49,0,0,0,9.6.956L.48,9.4A1.5,1.5,0,0,0,.4,11.522a1.478,1.478,0,0,0,.173.124A1.486,1.486,0,0,0,2.52,11.6Z"/></svg> --}}
    </i><span>Home</span></a>

<a href="/vaccine"><i class="fas fa-virus"></i><span>Vaccine</span></a>
<a href="/donate"><i class="fa fa-heart"></i><span>Donate</span></a>
{{!-- <a href="/features"><i class="fa fa-star"></i><span>Features</span></a> --}}
<a href="/donorslist"><i class="fas fa-chart-line"></i><span>Donors list</span></a>

<a href="/feed"><i class="fas fa-rss"></i><span>Feed</span></a>
</div>
<div class="page-title page-title-fixed">
<h1>{{siteName}}</h1>
<a href="#" class="page-title-icon shadow-xl bg-theme color-theme" data-menu="menu-share"><i class="fa fa-share-alt"></i></a>
<a href="#" class="page-title-icon shadow-xl bg-theme color-theme show-on-theme-light" data-toggle-theme><i class="fa fa-moon"></i></a>
<a href="#" class="page-title-icon shadow-xl bg-theme color-theme show-on-theme-dark" data-toggle-theme><i class="fa fa-lightbulb color-yellow-dark"></i></a>
<a href="#" class="page-title-icon shadow-xl bg-theme color-theme" data-menu="menu-main"><i class="fa fa-bars"></i></a>
</div>
<div class="page-title-clear"></div>
<div class="page-content fixed-height-page">
<div class="card card-style">
{{!-- <h2 class="card-top"> Terms of Use</h2> --}}
<div class="content"><h2>Terms of Use</h2></div>
<div class="content " style="margin-left: 6px; margin-top:-6px">
{{!-- <h4></h4> --}}
<ol>
  <li>Blood Donation Feature Terms
    <ol>
      <li>{{siteName}}'s blood donation feature <b>("Feature")</b> aims to connect volunteer blood donors <b>("Donors")</b> with blood Receivers in their nearest local geographical area that are seeking blood donors <b>("Receivers")</b>. {{siteName}} Connect Donors with people in the Donors’ geographical area <b>("Receivers")</b>. Here are more details about the terms of service for the Feature <b>(the "Terms")</b> upon which Donors, Receivers and their relevant authorized Third Parties may use the Feature.</li>
     
    </ol>
  </li>
  <li>{{siteName}} is not a blood bank
      <ol>
          <li>{{siteName}} is not a blood bank and {{siteName}} is not affiliated with any particular blood recipient. {{siteName}} does not carry out nor interfere with any business or activities in relation to blood donation, including but not limited to recruitment or selection of donors, collection, storage, processing or transportation of blood.</li>
          <li>{{siteName}} does not provide any medical supervision or assistance.</li>
          <li>{{siteName}} has not obtained, nor is it required to obtain, any statutory licenses, approvals, registration, certifications, or accreditations in this respect, including pursuant to any law, rules, or regulations applicable in the Blood Bank’s or Donor’s jurisdictions <b>("Applicable Law")</b>.</li>
      </ol>
  </li>
  <li>{{siteName}}'s goal is to facilitate the donor and the receiver with the help of enabling Technology for blood donation
    <ol>
      <li>Blood donation is a voluntary service and {{siteName}} does not guarantee that a potential Donor will agree to donate blood whenever called upon to do so. Donors may remove their status as a blood donor at any time.</li>
      <li>Blood donors have the right to stop participating in this Feature at any time.</li>
      <li>{{siteName}} does not guarantee that it will, or is able to, connect Donors and Receivers.</li>
      <li>{{siteName}} will not be liable for any injury or loss of life resulting from any connections or lack of connections facilitated through the Feature.</li>
      <li>No contract, express or implied, is created hereby among any parties using the Feature, or with {{siteName}}.</li>
    </ol>
  </li>
  <li>{{siteName}} serves only as an Platform Provider to Connect Donors and Receivers with their smart App
      <ol>
          <li>{{siteName}} only facilitates contact between Donors and Receivers in need of blood providing relevant information about donors and those in need of blood to potential Donors via the {{siteName}} Application.</li>
          <li>{{siteName}} is not responsible for the direct contact made between Donors and receivers nor is {{siteName}} responsible for the Donors’ actions before or after contact is made.</li>
          <li>{{siteName}} is not responsible for any misuse of contact information displayed. {{siteName}} gives no assurance with respect to the authenticity, accuracy or correctness of the information provided by the Donoror requests made by the receivers.</li>
          <li>The Donor and the Receiver are responsible for verifying the authenticity and correctness of the information provided by the other working with their respective hospitals or blood banks.</li>
          <li>{{siteName}} does not receive any protected health information.</li>
          <li>Under no circumstances will {{siteName}} have access to any Donor’s health information or records obtained from or arising out of any eligibility exams or other procedures performed by the health care providers</li>
          <li>{{siteName}} will not, to the extent permitted under Applicable Law, be responsible for any claims, disputes, suits, actions, proceedings, losses, injury, damages or harm (including, but not limited to, loss of personal data, personal injury, or loss of life) caused to the Donor, the receiver, and/or any third party due to any interaction between the Donor, Blood receiver, and/or any third party.</li>
      </ol>
  </li>
  <li>{{siteName}} does not accept money or incentives from Donors or Receivers for Donating Blood
      <ol>
          <li>{{siteName}} does not charge any money from Donors or Receivers for their voluntary blood donation.</li>
      </ol>
  </li>
  <li>{{siteName}} does not endorse or promote
      <ol>
          <li>When providing the Feature, {{siteName}} is not promoting any treatment, drugs, services, remedies, or activities that claim to have powers to cure, diagnose, prevent, or mitigate any disease or other illness.</li>
      </ol>
  </li>
  <li>Use of the Feature is subject to {{siteName}}’s other terms and conditions
      <ol>
          <li>While using the Feature, the Donors and Receivers are also subject to {{siteName}}’s Standards, and Data Policy, and other terms and conditions <b>("{{siteName}} Website Terms")</b> as may be applicable to the use of {{siteName}}’s brands, products, and services. In case of any conflict or inconsistencies between these Blood Donation Feature Terms and other {{siteName}} Website Terms, the latter shall prevail.</li>
          <li>You understand that the collection, processing, storage and transfer of information obtained by {{siteName}} in relation to your use of the Feature is in accordance with {{siteName}}’s Data Policy.</li>
          <li>Any information or content provided in the Feature should be used by you only for the purposes set out in these Terms.
</li>
          <li>{{siteName}} reserves the right to deny or terminate any Donors participation in or access to the Feature or to remove the Feature for any reason at any time.</li>
      </ol>
  </li>
  <li>Donor Specific Terms
      <ol>
          <li>When you register as a Donor on {{siteName}}, you express an interest to donate blood voluntarily and agree to receive updates when Receivers raise a request in your geographical area are looking for blood donors using our platform.</li>
      </ol>
  </li>
  <li>Your use of the Feature
      <ol>
          <li>Blood donation is a voluntary act and it is entirely at your sole discretion to donate blood.</li>
          <li>You may remove your status as a blood donor and stop receiving updates at any time through your {{siteName}} profile.</li>
      </ol>
  </li>
  <li>{{siteName}} is not a medical provider and does not provide medical advice
      <ol>
          <li>You should seek and obtain appropriate medical advice from qualified medical professionals prior to participating in any blood donation activities. {{siteName}} does not conduct any independent health or background checks.</li>
          <li>{{siteName}} does not guarantee that you will be eligible or able to donate blood. The Receiver or the Third Party like Hospitals /Blood Banks , Diagnostic Laboratories are responsible for taking all steps required to determine your eligibility ,accuracy and ability to donate blood.</li>
      </ol>
  </li>
  <li>{{siteName}} is not responsible for the Blood Bank’s activities or operations
      <ol>
          <li>{{siteName}} is not responsible for assessing the licensure, accreditation, or reputation of a Blood Bank. Donors are solely responsible for assessing the fitness of a Blood Banks prior to donating blood.</li>
          <li>{{siteName}} is not responsible for any information, collected, created by or about the Blood Bank.
</li>
          <li>Donors should review local regulations and policy to confirm that they are complying with Applicable Law.
</li>
      </ol>
  </li>
</ol>
</div>
</div>
<div class="card card-style">
<div class="content">
<h1>Privacy Policy for {{siteName}}</h1>

<p>At {{siteName}}, accessible from https://needap.in, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by {{siteName}} and how we use it.</p>

<p>If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us.</p>

<p>This Privacy Policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect in {{siteName}}. This policy is not applicable to any information collected offline or via channels other than this website.</p>

<h2>Consent</h2>

<p>By using our website, you hereby consent to our Privacy Policy and agree to its terms.</p>

<h2>Information we collect</h2>

<p>The personal information that you are asked to provide, and the reasons why you are asked to provide it, will be made clear to you at the point we ask you to provide your personal information.</p>
<p>If you contact us directly, we may receive additional information about you such as your name, email address, phone number, the contents of the message and/or attachments you may send us, and any other information you may choose to provide.</p>
<p>When you register for an Account, we may ask for your contact information, including items such as name, company name, address, email address, and telephone number.</p>

<h2>How we use your information</h2>

<p>We use the information we collect in various ways, including to:</p>

<ul>
<li>Provide, operate, and maintain our website</li>
<li>Improve, personalize, and expand our website</li>
<li>Understand and analyze how you use our website</li>
<li>Develop new products, services, features, and functionality</li>
<li>Communicate with you, either directly or through one of our partners, including for customer service, to provide you with updates and other information relating to the website, and for marketing and promotional purposes</li>
<li>Send you emails</li>
<li>Find and prevent fraud</li>
</ul>

<h2>Log Files</h2>

<p>{{siteName}} follows a standard procedure of using log files. These files log visitors when they visit websites. All hosting companies do this and a part of hosting services' analytics. The information collected by log files include internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date and time stamp, referring/exit pages, and possibly the number of clicks. These are not linked to any information that is personally identifiable. The purpose of the information is for analyzing trends, administering the site, tracking users' movement on the website, and gathering demographic information.</p>

<h2>Cookies and Web Beacons</h2>

<p>Like any other website, {{siteName}} uses 'cookies'. These cookies are used to store information including visitors' preferences, and the pages on the website that the visitor accessed or visited. The information is used to optimize the users' experience by customizing our web page content based on visitors' browser type and/or other information.</p>

<p>For more general information on cookies, please read <a href="https://www.privacypolicyonline.com/what-are-cookies/">"What Are Cookies" from Cookie Consent</a>.</p>



<h2>Advertising Partners Privacy Policies</h2>

<P>You may consult this list to find the Privacy Policy for each of the advertising partners of {{siteName}}.</p>

<p>Third-party ad servers or ad networks uses technologies like cookies, JavaScript, or Web Beacons that are used in their respective advertisements and links that appear on {{siteName}}, which are sent directly to users' browser. They automatically receive your IP address when this occurs. These technologies are used to measure the effectiveness of their advertising campaigns and/or to personalize the advertising content that you see on websites that you visit.</p>

<p>Note that {{siteName}} has no access to or control over these cookies that are used by third-party advertisers.</p>

<h2>Third Party Privacy Policies</h2>

<p>{{siteName}}'s Privacy Policy does not apply to other advertisers or websites. Thus, we are advising you to consult the respective Privacy Policies of these third-party ad servers for more detailed information. It may include their practices and instructions about how to opt-out of certain options. </p>

<p>You can choose to disable cookies through your individual browser options. To know more detailed information about cookie management with specific web browsers, it can be found at the browsers' respective websites.</p>

<h2>CCPA Privacy Rights (Do Not Sell My Personal Information)</h2>

<p>Under the CCPA, among other rights, California consumers have the right to:</p>
<p>Request that a business that collects a consumer's personal data disclose the categories and specific pieces of personal data that a business has collected about consumers.</p>
<p>Request that a business delete any personal data about the consumer that a business has collected.</p>
<p>Request that a business that sells a consumer's personal data, not sell the consumer's personal data.</p>
<p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us.</p>

<h2>GDPR Data Protection Rights</h2>

<p>We would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:</p>
<p>The right to access – You have the right to request copies of your personal data. We may charge you a small fee for this service.</p>
<p>The right to rectification – You have the right to request that we correct any information you believe is inaccurate. You also have the right to request that we complete the information you believe is incomplete.</p>
<p>The right to erasure – You have the right to request that we erase your personal data, under certain conditions.</p>
<p>The right to restrict processing – You have the right to request that we restrict the processing of your personal data, under certain conditions.</p>
<p>The right to object to processing – You have the right to object to our processing of your personal data, under certain conditions.</p>
<p>The right to data portability – You have the right to request that we transfer the data that we have collected to another organization, or directly to you, under certain conditions.</p>
<p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us.</p>

<h2>Children's Information</h2>

<p>Another part of our priority is adding protection for children while using the internet. We encourage parents and guardians to observe, participate in, and/or monitor and guide their online activity.</p>

<p>{{siteName}} does not knowingly collect any Personal Identifiable Information from children under the age of 13. If you think that your child provided this kind of information on our website, we strongly encourage you to contact us immediately and we will do our best efforts to promptly remove such information from our records.</p>
</div>
</div>
<div data-menu-load="/menu-footer"></div>
</div>

<div id="menu-feedback" class="menu menu-box-bottom rounded-m" data-menu-load="/menu-feedback" data-menu-height="452" data-menu-effect="menu-over"></div>

<div id="menu-main" class="menu menu-box-left rounded-0" data-menu-load="/menu-main" data-menu-width="280" data-menu-active="nav-terms"></div>

<div id="menu-share" class="menu menu-box-bottom rounded-m" data-menu-load="/menu-share" data-menu-height="370"></div>
<div id="menu-qr" class="menu menu-box-bottom rounded-m bg-theme" data-menu-height="400" data-menu-load="/menu-qr" ></div>

</div>

{{!-- popup-1 --}}
<div id="article-1" class="menu menu-box-bottom menu-box-bottom-full rounded-0" data-menu-width="cover" data-menu-height="cover">
<div class="card rounded-0 covidBg-1" data-card-height="500">
<div class="card-top pt-4 ps-3 pe-3">
<a href="#" class="close-menu icon icon-s rounded-l bg-theme color-theme "><i class="fa fa-arrow-up"></i></a>
<a href="/home" class="float-end icon icon-s rounded-l bg-theme color-theme ms-3"><i class="fa fa-home"></i></a>
<a href="#" class="float-end icon icon-s rounded-l bg-theme color-theme ms-3 show-on-theme-light" data-toggle-theme><i class="fa fa-moon"></i></a>
<a href="#" class="float-end icon icon-s rounded-l bg-theme color-theme ms-3 show-on-theme-dark" data-toggle-theme><i class="fa fa-sun"></i></a>
</div>
<div class="card-bottom ps-3 pe-3 mb-5 pb-4">
<h1 class="color-white font-36">Confirmed Cases</h1>
<p class="color-white opacity-50">
{{!-- This article will deploy from the top of the page. You can deploy articles from any part of the page you want. --}}
</p>
</div>
<div class="card-overlay bg-gradient"></div>
</div>

 
<div class="card card-style" style="margin: 0 5px 20px; margin-top:-100px;margin-bottom: -80px;z-index: 1;">
<div class="content mb-0">
<p class="text-center mb-n1 font-12 font-600 color-highlight">Andhra Pradesh Confirmed Cases</p>
<h1 class="text-center font-28 mb-4">Statistics</h1>
<div class="chart-container mb-4" style="width:100%; height:350px;">
<canvas class="graph" id="vertical-chart-1" /></canvas>
</div>
</div>
</div>

<div class="card rounded-0 bg-1" data-card-height="400">
<div class="card-center">
<h1 class="color-white font-italic text-center font-40">#STAY H<i class="fa fa-heart" style="color: crimson;"></i>ME</h1>
<h1 class="font-italic text-center font-40" style="color: crimson;">#STAY S<svg class="homeIcon" xmlns="http://www.w3.org/2000/svg" width="30px" fill="#fff" viewBox="0 0 24 24" id="Bold"><path d="M12.345,5.215a.5.5,0,0,0-.69,0L2.629,13.829a1,1,0,0,0-.29.919L3.7,21.589A3.011,3.011,0,0,0,6.64,24H17.36A3.013,3.013,0,0,0,20.3,21.586l1.36-6.838a1,1,0,0,0-.29-.919ZM12,12.77A3.232,3.232,0,1,1,8.768,16,3.231,3.231,0,0,1,12,12.77Z"/><path d="M2.52,11.6l9.135-8.462a.505.505,0,0,1,.706.016L21.48,11.6a1.486,1.486,0,0,0,1.962.057,1.587,1.587,0,0,0,.159-.138A1.5,1.5,0,0,0,23.52,9.4l-9.1-8.43A3.49,3.49,0,0,0,9.6.956L.48,9.4A1.5,1.5,0,0,0,.4,11.522a1.478,1.478,0,0,0,.173.124A1.486,1.486,0,0,0,2.52,11.6Z"/></svg>FE</h1>
<p class="color-white text-center mb-0 mt-n2">With lots of Care and Love by {{siteName}}</p>
</div>
<div class="card-overlay bg-gradient"></div>
</div>
{{!-- <div class="card card-style">

<a href="#" class="close-menu btn btn-l rounded-sm font-600 btn-full btn-margins gradient-red">Close Article</a>

</div> --}}
</div>

{{!-- popup-1 ending --}}


{{!-- popup-2 --}}
<div id="article-2" class="menu menu-box-bottom menu-box-bottom-full rounded-0" data-menu-width="cover" data-menu-height="cover">
<div class="card rounded-0 covidBg-2" data-card-height="500">
<div class="card-top pt-4 ps-3 pe-3">
<a href="#" class="close-menu icon icon-s rounded-l bg-theme color-theme "><i class="fa fa-arrow-up"></i></a>
<a href="/home" class="float-end icon icon-s rounded-l bg-theme color-theme ms-3"><i class="fa fa-home"></i></a>
<a href="#" class="float-end icon icon-s rounded-l bg-theme color-theme ms-3 show-on-theme-light" data-toggle-theme><i class="fa fa-moon"></i></a>
<a href="#" class="float-end icon icon-s rounded-l bg-theme color-theme ms-3 show-on-theme-dark" data-toggle-theme><i class="fa fa-sun"></i></a>
</div>
<div class="card-bottom ps-3 pe-3 mb-5 pb-4">
<h1 class="color-white font-36">Recovered Cases</h1>
<p class="color-white opacity-50">
{{!-- This article will deploy from the top of the page. You can deploy articles from any part of the page you want. --}}
</p>
</div>
<div class="card-overlay bg-gradient"></div>
</div>


<div class="card card-style" style="margin: 0 5px 20px; margin-top:-100px;margin-bottom: -80px;z-index: 1;">
<div class="content mb-0">
<p class="text-center mb-n1 font-12 font-600 color-highlight">Andhra Pradesh Recovered Cases</p>
<h1 class="text-center font-28 mb-4">Statistics</h1>
<div class="chart-container mb-4" style="width:100%; height:350px;">
<canvas class="graph" id="vertical-chart-2" /></canvas>
</div>
</div>
</div>

<div class="card rounded-0 bg-1" data-card-height="400">
<div class="card-center">
<h1 class="color-white font-italic text-center font-40">#STAY H<i class="fa fa-heart" style="color: crimson;"></i>ME</h1>
<h1 class="font-italic text-center font-40" style="color: crimson;">#STAY S<svg class="homeIcon" xmlns="http://www.w3.org/2000/svg" width="30px" fill="#fff" viewBox="0 0 24 24" id="Bold"><path d="M12.345,5.215a.5.5,0,0,0-.69,0L2.629,13.829a1,1,0,0,0-.29.919L3.7,21.589A3.011,3.011,0,0,0,6.64,24H17.36A3.013,3.013,0,0,0,20.3,21.586l1.36-6.838a1,1,0,0,0-.29-.919ZM12,12.77A3.232,3.232,0,1,1,8.768,16,3.231,3.231,0,0,1,12,12.77Z"/><path d="M2.52,11.6l9.135-8.462a.505.505,0,0,1,.706.016L21.48,11.6a1.486,1.486,0,0,0,1.962.057,1.587,1.587,0,0,0,.159-.138A1.5,1.5,0,0,0,23.52,9.4l-9.1-8.43A3.49,3.49,0,0,0,9.6.956L.48,9.4A1.5,1.5,0,0,0,.4,11.522a1.478,1.478,0,0,0,.173.124A1.486,1.486,0,0,0,2.52,11.6Z"/></svg>FE</h1>
<p class="color-white text-center mb-0 mt-n2">With lots of Care and Love by {{siteName}}</p>
</div>
<div class="card-overlay bg-gradient"></div>
</div>

</div>

{{!-- popup-2 ending --}}



{{!-- popup-3 --}}
<div id="article-3" class="menu menu-box-bottom menu-box-bottom-full rounded-0" data-menu-width="cover" data-menu-height="cover">
<div class="card rounded-0 covidBg-1" data-card-height="500">
<div class="card-top pt-4 ps-3 pe-3">
<a href="#" class="close-menu icon icon-s rounded-l bg-theme color-theme "><i class="fa fa-arrow-up"></i></a>
<a href="/home" class="float-end icon icon-s rounded-l bg-theme color-theme ms-3"><i class="fa fa-home"></i></a>
<a href="#" class="float-end icon icon-s rounded-l bg-theme color-theme ms-3 show-on-theme-light" data-toggle-theme><i class="fa fa-moon"></i></a>
<a href="#" class="float-end icon icon-s rounded-l bg-theme color-theme ms-3 show-on-theme-dark" data-toggle-theme><i class="fa fa-sun"></i></a>
</div>
<div class="card-bottom ps-3 pe-3 mb-5 pb-4">
<h1 class="color-white font-36">Active Cases</h1>
<p class="color-white opacity-50">
{{!-- This article will deploy from the top of the page. You can deploy articles from any part of the page you want. --}}
</p>
</div>
<div class="card-overlay bg-gradient"></div>
</div>


<div class="card card-style" style="margin: 0 5px 20px; margin-top:-100px;margin-bottom: -80px;z-index: 1;">
<div class="content mb-0">
<p class="text-center mb-n1 font-12 font-600 color-highlight">Andhra Pradesh Active Cases</p>
<h1 class="text-center font-28 mb-4">Statistics</h1>
<div class="chart-container mb-4" style="width:100%; height:350px;">
<canvas class="graph" id="vertical-chart-3" /></canvas>
</div>
</div>
</div>

<div class="card rounded-0 bg-1" data-card-height="400">
<div class="card-center">
<h1 class="color-white font-italic text-center font-40">#STAY H<i class="fa fa-heart" style="color: crimson;"></i>ME</h1>
<h1 class="font-italic text-center font-40" style="color: crimson;">#STAY S<svg class="homeIcon" xmlns="http://www.w3.org/2000/svg" width="30px" fill="#fff" viewBox="0 0 24 24" id="Bold"><path d="M12.345,5.215a.5.5,0,0,0-.69,0L2.629,13.829a1,1,0,0,0-.29.919L3.7,21.589A3.011,3.011,0,0,0,6.64,24H17.36A3.013,3.013,0,0,0,20.3,21.586l1.36-6.838a1,1,0,0,0-.29-.919ZM12,12.77A3.232,3.232,0,1,1,8.768,16,3.231,3.231,0,0,1,12,12.77Z"/><path d="M2.52,11.6l9.135-8.462a.505.505,0,0,1,.706.016L21.48,11.6a1.486,1.486,0,0,0,1.962.057,1.587,1.587,0,0,0,.159-.138A1.5,1.5,0,0,0,23.52,9.4l-9.1-8.43A3.49,3.49,0,0,0,9.6.956L.48,9.4A1.5,1.5,0,0,0,.4,11.522a1.478,1.478,0,0,0,.173.124A1.486,1.486,0,0,0,2.52,11.6Z"/></svg>FE</h1>
<p class="color-white text-center mb-0 mt-n2">With lots of Care and Love by {{siteName}}</p>
</div>
<div class="card-overlay bg-gradient"></div>
</div>

</div>

{{!-- popup-3 ending --}}




{{!-- popup-4 --}}
<div id="article-4" class="menu menu-box-bottom menu-box-bottom-full rounded-0" data-menu-width="cover" data-menu-height="cover">
<div class="card rounded-0 covidBg-2" data-card-height="500">
<div class="card-top pt-4 ps-3 pe-3">
<a href="#" class="close-menu icon icon-s rounded-l bg-theme color-theme "><i class="fa fa-arrow-up"></i></a>
<a href="/home" class="float-end icon icon-s rounded-l bg-theme color-theme ms-3"><i class="fa fa-home"></i></a>
<a href="#" class="float-end icon icon-s rounded-l bg-theme color-theme ms-3 show-on-theme-light" data-toggle-theme><i class="fa fa-moon"></i></a>
<a href="#" class="float-end icon icon-s rounded-l bg-theme color-theme ms-3 show-on-theme-dark" data-toggle-theme><i class="fa fa-sun"></i></a>
</div>
<div class="card-bottom ps-3 pe-3 mb-5 pb-4">
<h1 class="color-white font-36">Death Cases</h1>
<p class="color-white opacity-50">
{{!-- This article will deploy from the top of the page. You can deploy articles from any part of the page you want. --}}
</p>
</div>
<div class="card-overlay bg-gradient"></div>
</div>


<div class="card card-style" style="margin: 0 5px 20px; margin-top:-100px;margin-bottom: -80px;z-index: 1;">
<div class="content mb-0">
<p class="text-center mb-n1 font-12 font-600 color-highlight">Andhra Pradesh Death Cases</p>
<h1 class="text-center font-28 mb-4">Statistics</h1>
<div class="chart-container mb-4" style="width:100%; height:350px;">
<canvas class="graph" id="vertical-chart-4" /></canvas>
</div>
</div>
</div>

<div class="card rounded-0 bg-1" data-card-height="400">
<div class="card-center">
<h1 class="color-white font-italic text-center font-40">#STAY H<i class="fa fa-heart" style="color: crimson;"></i>ME</h1>
<h1 class="font-italic text-center font-40" style="color: crimson;">#STAY S<svg class="homeIcon" xmlns="http://www.w3.org/2000/svg" width="30px" fill="#fff" viewBox="0 0 24 24" id="Bold"><path d="M12.345,5.215a.5.5,0,0,0-.69,0L2.629,13.829a1,1,0,0,0-.29.919L3.7,21.589A3.011,3.011,0,0,0,6.64,24H17.36A3.013,3.013,0,0,0,20.3,21.586l1.36-6.838a1,1,0,0,0-.29-.919ZM12,12.77A3.232,3.232,0,1,1,8.768,16,3.231,3.231,0,0,1,12,12.77Z"/><path d="M2.52,11.6l9.135-8.462a.505.505,0,0,1,.706.016L21.48,11.6a1.486,1.486,0,0,0,1.962.057,1.587,1.587,0,0,0,.159-.138A1.5,1.5,0,0,0,23.52,9.4l-9.1-8.43A3.49,3.49,0,0,0,9.6.956L.48,9.4A1.5,1.5,0,0,0,.4,11.522a1.478,1.478,0,0,0,.173.124A1.486,1.486,0,0,0,2.52,11.6Z"/></svg>FE</h1>
<p class="color-white text-center mb-0 mt-n2">With lots of Care and Love by {{siteName}}</p>
</div>
<div class="card-overlay bg-gradient"></div>
</div>

</div>

{{!-- popup-4 ending --}}
<script type="text/javascript" src="scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="scripts/custom.js"></script>
</body>
